.vjs-matrix .vjs-big-play-button {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  line-height: 164px;
}

video[poster]{
  object-fit: cover;
}

.vjs-poster {
  background-size: cover;
  background-position: inherit;
}
